<div #canvas class="board-canvas"
    [ngClass]="game.boardStatus">
    <div class="column-hints first">
        <ng-container *ngTemplateOutlet="columnHints; context: { side: 'first' }"></ng-container>
    </div>
    <div class="row-hints first">
        <ng-container *ngTemplateOutlet="rowHints; context: { side: 'first' }"></ng-container>
    </div>
    <div class="board">
        <ng-container *ngTemplateOutlet="board"></ng-container>
    </div>
    <div class="row-hints last">
        <ng-container *ngTemplateOutlet="rowHints; context: { side: 'last' }"></ng-container>
    </div>
    <div class="column-hints last">
        <ng-container *ngTemplateOutlet="columnHints; context: { side: 'last' }"></ng-container>
    </div>
</div>

<ng-template #board>
    @for (boardLine of game.boardData; track $index) {
        <div class="board-line">
            @for (boardDataItem of boardLine; track $index) {
                <div class="board-cell" [ngClass]="boardCell[boardDataItem.value]"></div>
            }
        </div>
    }
</ng-template>

<ng-template #columnHints let-side="side">
    @for (hintLine of game.columnHints.hints; track $index) {
        <div class="hint-line">
            @if (side === 'first' && game.boardStatus === 'setup') {
                <div class="hint-cell"></div>
            }
            @for (hintCell of hintLine; track $index) {
                <div class="hint-cell">{{ hintCell.hint }}</div>
            }
            @if (side === 'last' && game.boardStatus === 'setup') {
                <div class="hint-cell"></div>
            }
        </div>
    }
</ng-template>

<ng-template #rowHints let-side="side">
    @for (hintLine of game.rowHints.hints; track $index) {
        <div class="hint-line">
            @if (side === 'first' && game.boardStatus === 'setup') {
                <div class="hint-cell"></div>
            }
            @for (hintCell of hintLine; track $index) {
                <div class="hint-cell">{{ hintCell.hint }}</div>
            }
            @if (side === 'last' && game.boardStatus === 'setup') {
                <div class="hint-cell"></div>
            }
        </div>
    }
</ng-template>
