num-picker {
    position: relative;
    overflow: hidden;

    font-family: "Futura-CondensedMedium";
    font-size: 6rem;
    line-height: 6rem;
    width: 6rem;
    height: 18rem;
    .num {
        color: $ultraLightBlue;
        text-align: right;

        height: 6rem;
        padding: 0 .5rem;
    }
    > ion-scroll {
        height: 100%;
        z-index: 0 !important;
        .scroll-content { padding: 0 !important; }
    }
    > .overlay {
        background: linear-gradient(
                        rgba($midBlue, 1) 10%,
                        rgba($midBlue, 0) 40%,
                        rgba($midBlue, 0) 60%,
                        rgba($midBlue, 1) 90%);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999 !important; // lower values are overrulled at the page transition, which makes gradient disapper for that time
        pointer-events: none;
    }
}
