<ion-header mode="ios">
    @if (swiperRef.nativeElement.swiper; as swiper) {
        <ion-toolbar mode="ios">
            <ion-buttons slot="start">
                <ion-back-button class="button-solid" text="BACK" icon=""></ion-back-button>
            </ion-buttons>
            <ion-title>
                <div class="title-block">
                    @if (swiper.activeIndex > 0) {
                        <ion-button class="prev-stage-button" fill="clear"
                            (click)="swiper.slidePrev()">
                            <ion-icon slot="icon-only" name="arrow-back"/>
                        </ion-button>
                    }
                    <h1>
                        {{ swiper.activeIndex < allBoards.length - 1 ? 'STAGE ' + (swiper.activeIndex + 1): 'MY BOARDS' }}
                    </h1>
                    @if (swiper.activeIndex < allBoards.length - 1) {
                        <ion-button class="next-stage-button" fill="clear"
                            (click)="swiper.slideNext()">
                            <ion-icon slot="icon-only" name="arrow-forward"/>
                        </ion-button>
                    }
                </div>
            </ion-title>
            <ion-buttons slot="end">
                @if (swiper.activeIndex === allBoards.length - 1) {
                    <ion-button class="editing-button" fill="solid"
                        [class.active]="editing"
                        (click)="editing = !editing">
                        EDIT
                    </ion-button>
                }
            </ion-buttons>
        </ion-toolbar>
    }
</ion-header>

<ion-content [forceOverscroll]="false">
    <swiper-container #swiper class="stage-slides" [pagination]="true"
        (slidermove)="toggleSliding(true)"
        (touchend)="toggleSliding(false)"
        (slidechange)="changeSlide()">
        @for (stageBoards of allBoards; track $index; let i = $index, lastBoard = $last) {
            <swiper-slide class="stage-slide"
                [class.sliding]="sliding">
                <div class="stage-slide-container">
                    <div class="stage" [class.editing]="editing">
                        @for (board of stageBoards; track $index) {
                            <button class="stage-board"
                                [class.editable]="!board.static"
                                [class.solved]="board.solved"
                                (click)="loadGame(board)">
                                <div class="board-num">{{ board.nr }}</div>
                                @if (board.solved) {
                                    <ion-icon name="trophy" class="board-flag"/>
                                }
                                <span class="board-size">{{ board.columnHints.hints.length }}&times;{{ board.rowHints.hints.length }}</span>
                            </button>
                        }
                        @if (lastBoard) {
                            <button class="stage-board new editable" [class.editing]="editing" (click)="createGame()">
                                <ion-icon name="add"/>
                            </button>
                        }
                    </div>
                </div>
            </swiper-slide>
        }
    </swiper-container>
</ion-content>
