<ion-content [forceOverscroll]="false">
    <swiper-container #swiper [pagination]="true" class="stage-slides">
        <swiper-slide class="stage-slide"
            *ngFor="let stageBoards of allBoards; let i = index">
            <div class="stage-slide-container">
                <h3>{{ i < allBoards.length-1 ? 'STAGE ' + (i + 1) : 'SAVED BOARDS' }}</h3>
                <div class="stage">
                    <button class="stage-board"
                        *ngFor="let board of stageBoards"
                        (click)="loadGame(board)"
                        (press)="editGame(board)">
                        <div class="board-num">{{ board.nr }}</div>
                        <span>{{ board.boardData[0].length }}&times;{{ board.boardData.length }}</span>
                        <ion-icon name="trophy-outline" class="board-flag" *ngIf="board.solved"></ion-icon>
                    </button>
                    <button class="stage-board new" *ngIf="i === allBoards.length - 1" (click)="createGame()">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</ion-content>
