:host {
    .stage-slides {
        height: 100%;
        --swiper-pagination-color: var(--ion-color-ultra-light);
        --swiper-pagination-bullet-inactive-color: var(--ion-color-medium);
        .slide-zoom {
            height: 100%;
            padding: 2rem 0;
            background-color: var(--ion-color-semi-dark);
        }
        .stage-slide {
            overflow-y: auto;
            &.sliding { overflow-y: hidden; }
        }
        .stage-slide-container {
            height: 100%;
            padding-top: calc(var(--ion-safe-area-top, 0) + 50px);
            padding-bottom: calc(var(--ion-safe-area-bottom, 0) + 20px);
        }
        h3 {
            margin: 0;
            font-size: 1.8rem;
            line-height: 3rem;
            padding-top: 0.5rem;
            padding-bottom: 1.5rem;
            font-weight: normal;
            text-align: center;
            color: var(--ion-color-ultra-light);
        }
        .editing-button {
            font-size: 1rem;
            float: right;
            --color: var(--ion-color-light);
        }
        .stage {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .stage-board {
                position: relative;
                margin: 1rem;
                width: 6rem;
                height: 6rem;
                background-color: var(--ion-color-light);
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1.25rem;
                color: var(--ion-color-semi-dark);
                &.new {
                    background-color: transparent;
                    border: 2px dashed var(--ion-color-light);
                    color: var(--ion-color-ultra-light);
                }
                &:active {
                    background-color: var(--ion-color-medium);
                }
                &.solved {
                    background-color: var(--ion-color-ultra-light);
                }
                .board-num {
                    position: absolute;
                    top: -1.25rem;
                    align-self: center;
                    color: var(--ion-color-light);
                    font-size: 1rem;
                }
                .board-flag {
                    position: absolute;
                    font-size: 3rem;
                    align-self: center;
                    color: var(--ion-color-semi-dark);
                    opacity: 0.25;
                }
                .board-size { position: relative; }
            }
            &.editing {
                .stage-board {
                    &.editable {
                        animation: wobble 250ms infinite;
                    }
                }
            }
        }
    }
    #uploadInput { display: none; }
}

@keyframes wobble {
    25% { transform: rotate(3deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}