page-board-list {
    .stage-slides {
        .slide-zoom {
            height: 100%;
            padding: 2rem 0;
            background-color: $semiDarkBlue;
        }
        .stage-slide {
            height: 100%;
            border-radius: 1rem;
            overflow-y: auto;
        }
        h3 {
            margin: 0;
            font-size: 1.8rem;
            line-height: 3rem;
            padding-top: 0.5rem;
            padding-bottom: 1.5rem;
            font-weight: normal;
            text-align: center;
            color: $ultraLightBlue;
        }
        .stage {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 1rem;
            padding: 0;

            .stage-board {
                position: relative;
                margin: .75rem;
                width: 5rem;
                height: 5rem;
                background-color: $lightBlue;
                border-radius: .5rem;
                box-shadow: 0 0 4px $darkBlue;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                font-size: 1.25rem;
                color: $darkBlue;
                &.new {
                    background-color: $midBlue;
                    color: $lightBlue;
                }
                &.activated {
                    opacity: 0;
                    transform: scale3d(1.5, 1.5, 1);
                    transition: all 0.5s;
                }
                .board-num {
                    position: absolute;
                    top: -1.2rem;
                    align-self: center;
                    color: $ultraLightBlue;
                    font-size: 1rem;
                }
                .board-flag {
                    position: absolute;
                    // right: 10%;
                    bottom: 0;
                    align-self: center;
                    color: $semiDarkBlue;
                }
            }
        }
        .swiper-pagination-bullets {
            bottom: .2rem;
            .swiper-pagination-bullet {
                background: $lightBlue;
            }
        }
    }
}
