<ion-content #content
    [forceOverscroll]="false"
    [scrollX]="true"
    [scrollY]="true"
    [ngClass]="{ 'scroll-enabled': scrollEnabled }">

    <div #scroll class="board-scroll">
        <div zoomable
            [scale]="zoom"
            [minScale]="minZoom"
            [maxScale]="maxZoom"
            (scaleChange)="zoomChange($event)">
            <!-- <board-grid #boardCanvas [gameData]="game"></board-grid> -->
             @if (!isSetup()) {
                <board-canvas #boardCanvas class="board-canvas"
                    [colorMode]="colorMode"
                    (statusChange)="statusChange($event)"
                    (scrollChange)="scrollChange($event)"
                    (panMove)="panMove($event)"
                    (panEnd)="panEnd()"/>
             } @else {
                <setup-board-canvas #boardCanvas class="board-canvas"/>
             }
        </div>
    </div>

</ion-content>

<ion-footer mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="back-button" fill="solid" title="Go Back" (click)="back()">
                <ion-icon name="grid-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button class="zoon-in-button" fill="solid" title="Zoom In" (click)="zoomIn()" [disabled]="!canZoomIn()">
                <ion-icon name="add-circle-outline" slot="icon-only"/>
            </ion-button>
            <ion-button class="zoom-out-button" fill="solid" title="Zoom Out" (click)="zoomOut()" [disabled]="!canZoomOut()">
                <ion-icon name="remove-circle-outline" slot="icon-only"/>
            </ion-button>
            @if (isGame()) {
                <ion-button class="solve-board-button" fill="solid" title="Solve" (click)="solveBoard()">
                    @if (!solvingBoard) {
                        <ion-icon name="bulb-outline" slot="icon-only"/>
                    } @else {
                        <ion-spinner name="crescent" slot="icon-only"/>
                    }
                </ion-button>
            }
            @if (!isSetup()) {
                <ion-button class="clear-board-button" fill="solid" title="Clear" (click)="clear()">
                    <ion-icon name="ban-outline" slot="icon-only"/>
                </ion-button>
                <ion-button class="undo-move-button" fill="solid" title="Undo" (click)="board.undo()" [disabled]="!canUndo()">
                    <ion-icon name="arrow-undo-outline" slot="icon-only"/>
                </ion-button>
                <ion-button class="redo-move-button" fill="solid" title="Redo" (click)="board.redo()" [disabled]="!canRedo()">
                    <ion-icon name="arrow-redo-outline" slot="icon-only"/>
                </ion-button>
            } @else {
                @if (!isNewBoard()) {
                    <ion-button class="delete-board-button" fill="solid" title="Delete" (click)="delete()">
                        <ion-icon name="trash-outline" slot="icon-only"/>
                    </ion-button>
                }
                <ion-button class="save-board-button" fill="solid" (click)="save()">
                    SAVE
                </ion-button>
            }
        </ion-buttons>

    </ion-toolbar>
</ion-footer>
