page-board {
    ion-content.content-ios {
        background-color: $darkBlue;
    }
    ion-scroll {
        width: 100%;
        height: 100%;
    }
    // .scroll-zoom-wrapper {
    //     height: 100%;
    //     display: flex;
    // }
/*
    .board {
        >.line>.cell {
            border-color: $darkBlue;
            background-color: $midBlue;
            color: $ultraLightBlue;
            &.on { background-color: $ultraLightBlue; }
            &.off { background-color: $darkBlue; }
            &.hint-cell {
                background-color: $semiDarkBlue;
                &.focus, &.stress {
                    background-color: $lightBlue;
                    color: $ultraLightBlue;
                }
                &.match {
                    color: $lightest;
                    text-shadow: 0 0 10px $lightest;
                }
            }
            &.hidden-cell { background-color: $darkBlue; }
        }
        &.gameover>.line>.cell {
            border-color: $midBlue;
            &.on { border-color: $ultraLightBlue; }
            &.off { border-color: $darkBlue; }
            &.hint-cell { border-color: $semiDarkBlue; }
            &.hidden-cell { border-color: $darkBlue; }
        }
    }
    .board {
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        margin: auto;
        padding: 44px 0;
        >.line {
            display: flex;
            flex-direction: row;
            >.cell {
                width: 25px;
                height: 25px;
                border-style: solid;
                border-width: 0 1px 1px 0;
                box-sizing: content-box;
                text-align: center;
                font-size: 12pt;
                line-height: 18pt;
                cursor: pointer;
            }
        }
        >div.line:nth-of-type(5n)>.cell {
            border-bottom-width: 2px;
        }
        >.line>div.cell:nth-of-type(5n) {
            border-right-width: 2px;
        }
    }
*/
}
