<ion-content>

    <ion-scroll #scroll ion-fixed class="boardscroll" scrollX="true" scrollY="true" zoom="false"
        zoomable
        [scale]="zoom"
        [minScale]="minZoom">
    <!--<zoomer
        [scale]="zoom"
        [min]="minZoom">-->
        <board-canvas #boardCanvas
            (statusChange)="statusChange($event)"></board-canvas>
    <!--</zoomer>-->
    </ion-scroll>

    <ion-footer ion-fixed>
        <ion-toolbar>

            <ion-buttons start>
                <button ion-button
                    (click)="back()">BACK</button>
            </ion-buttons>

            <ion-buttons end>
                <button ion-button icon-only
                    *ngIf="isSetup() && !isNewBoard()"
                    (click)="delete()">
                    <ion-icon name="trash"></ion-icon>
                </button>
                <button ion-button
                    *ngIf="isSetup()"
                    (click)="save()">SAVE</button>
                <button ion-button
                    *ngIf="!isSetup()"
                    (click)="zoomIn()">
                    <ion-icon name="expand"></ion-icon>
                </button>
                <button ion-button
                    *ngIf="!isSetup()"
                    (click)="zoomOut()">
                    <ion-icon name="contract"></ion-icon>
                </button>
                <button ion-button icon-only
                    *ngIf="!isSetup()"
                    (click)="clear()">
                    <ion-icon name="close"></ion-icon>
                </button>
                <button ion-button icon-only
                    *ngIf="!isSetup()"
                    (click)="board.undo()"
                    [disabled]="!canUndo()">
                    <ion-icon name="undo"></ion-icon>
                </button>
                <button ion-button icon-only
                    *ngIf="!isSetup()"
                    (click)="board.redo()"
                    [disabled]="!canRedo()">
                    <ion-icon name="redo"></ion-icon>
                </button>
            </ion-buttons>

        </ion-toolbar>
    </ion-footer>
</ion-content>
