:host {
    .color-mode-list {
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info {
        text-align: center;
        color: var(--ion-color-ultra-light);
        margin: 0 2rem 1rem;
    }

    ion-radio {
        display: block;
        margin-inline: 1rem;
        &::part(label) {
            margin-inline: 0;
            width: 100%;
            white-space: initial;
        }
        &::part(container) {
            display: none;
        }
    }

    .color-mode-item {
        --color: var(--ion-color-light);
        --inner-border-width: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-start: 1rem;
        --padding-end: 0;
        --inner-padding-end: 0.5rem;
        --border-radius: 1rem;
        --border-width: 1px;
        --border-color: transparent;
        --transition: border-color 1s;
        .thumbnail {
            margin: -3.5rem;
            transform: scale(0.35);
            transition: transform 400ms;
        }
    }
    ion-radio.radio-checked {
        .color-mode-item {
            --border-color: var(--ion-color-lightest);
            .thumbnail {
                transform: scale(0.4);
            }
        }
    }
}
