/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.scroll-content::-webkit-scrollbar { display: none !important }

ion-content {
    --background: var(--ion-color-dark);
}
:root {
    --ion-background-color: var(--ion-color-dark);
    ion-header, ion-footer {
        position: absolute;
        pointer-events: none;
        &::before { background: none; }
    }
    ion-toolbar {
        --background: transparent;
        &:first-of-type, &:last-of-type { --border-width: 0; }
        ion-title {
            --color: var(--ion-color-light);
            padding-inline-start: 3rem;
            padding-inline-end: 3rem;
            text-align: center;
            .title-block {
                margin: 0;
                position: relative;
                display: inline-flex;
                align-items: center;
                box-sizing: content-box;
                height: 36px;
                background: rgba(var(--ion-color-semi-dark-rgb), 0.5);
                padding: 0 2.2rem;
                border-radius: 1rem;
                h1 {
                    margin: 0;
                    font-size: 1.2rem;
                    line-height: 1.8;
                }
                em {
                    margin-inline: -1.5rem 0.5rem;
                    padding-inline: 0.5rem;
                    border-radius: 0.5rem;
                    color: var(--ion-color-semi-dark);
                    font-style: normal;
                    background-color: var(--ion-color-ultra-light);
                }
                ion-button {
                    margin: 0;
                    position: absolute;
                    --color: var(--ion-color-lightest);
                    top: 0;
                    height: 100%;
                    min-height: auto;
                    &:first-child { left: 0; }
                    &:last-child { right: 0; }
                    ion-icon { font-size: 1.3rem; }
                }
            }
        }
        .button-solid {
            min-width: 36px;
            min-height: 36px;
            pointer-events: auto !important;
            --color: var(--ion-color-ultra-light);
            --background: rgba(var(--ion-color-semi-dark-rgb), 0.5);
            --border-radius: 64px;
            --background-hover: none;
            &:hover:not(.button-disabled) {
                --background-hover: rgba(var(--ion-color-semi-dark-rgb), 0.6);
            }
            --padding-top: 0.25rem;
            --padding-bottom: 0.25rem;
            --padding-start: 0.25rem;
            --padding-end: 0.25rem;
            &:not(.button-has-icon-only, .back-button-has-icon-only) {
                --padding-start: 0.75rem;
                --padding-end: 0.75rem;
            }
            &.active {
                --background: rgba(var(--ion-color-medium-rgb), 0.6);
            }
            ion-icon {
                font-size: 1.75rem;
            }
            &.back-button ion-icon,
            &::part(icon) {
                margin: auto;
                font-size: 1.5rem;
            }
        }
    }
    ion-header { top: 0; }
    ion-footer { bottom: 0; }

    ion-picker, ion-picker-legacy {
        --background: var(--ion-color-ultra-light);
        --border-color: rgba(var(--ion-color-semi-dark-rgb), 0.25);
        --border-radius: 1rem 1rem 0 0;
        .picker-toolbar { padding: 0 1rem; }
        .picker-above-highlight, .picker-below-highlight { background: none; }
        .picker-button {
            color: var(--ion-color-medium);
        }
        .picker-opt {
            color: var(--ion-color-semi-dark);
            &.picker-opt-selected {
                color: var(--ion-color-dark);
            }
        }
    }
    ion-modal {
        &.auto-height {
            --border-radius: 1.5rem;
            --height: auto;
        }
    }
    ion-toast {
        --toast-color: var(--ion-color-lightest);
        --toast-background: var(--ion-color-medium);
        font-weight: 400;
        font-size: 1.25rem;
        --background: var(--toast-background);
        --color: var(--toast-color);
        --button-color: var(--toast-color);
        --min-height: 100px;
        --max-width: 400px;
        --border-radius: 1rem;
        &::part(container) {
            border-radius: var(--border-radius);
            box-shadow: 0 0 3rem -1rem var(--ion-color-dark);
        }
        &::part(icon) {
            color: var(--toast-color);
            opacity: 0.4;
            font-size: 3rem;
        }
        &::part(button) {
            color: var(--toast-color);
            opacity: 0.4;
        }
        &.gave-up,
        &.unfinished {
            --toast-background: var(--ion-color-warning);
            --toast-color: var(--ion-color-warning-contrast);
        }
        &.no-solution {
            --toast-background: var(--ion-color-danger);
            --toast-color: var(--ion-color-danger-contrast);
        }
        &.finished,
        &.success {
            --toast-background: var(--ion-color-success);
            --toast-color: var(--ion-color-success-contrast);
        }
    }
    ion-alert {
        --background: var(--ion-color-ultra-light);
        --ion-text-color: var(--ion-color-dark);
        --ion-text-color-rgb: var(--ion-color-dark-rgb);
        --ion-color-primary: var(--ion-color-medium);
    }
    ion-action-sheet {
        --background: var(--ion-color-ultra-light);
        --color: var(--ion-color-semi-dark);
        --button-color: var(--ion-color-medium);

    }
    :focus-visible {
        outline-color: rgba(var(--ion-color-lightest-rgb), 0.5);
        outline-style: solid;
        outline-width: 2px;
        outline-offset: 1px;
    }
}
