::ng-deep ion-modal::part(content) {
    background: var(--ion-color-semi-dark);
}

:host {
    display: block;
    padding: 0.75rem 0.5rem;
    margin-bottom: var(--ion-safe-area-bottom);
    background: var(--ion-color-semi-dark);
    ion-toolbar {
        --padding-top: 0;
        --padding-bottom: 1rem;
        padding-left: var(--ion-safe-area-left);
        padding-right: var(--ion-safe-area-right);
        ion-button {
            --color: var(--ion-color-ultra-light);
            &.button-solid, &.activated {
                --background: rgba(var(--ion-color-light-rgb), 0.3);
            }
            &.button-outline {
                --border-width: 1px;
                --padding-start: 0.5rem;
                --padding-end: 0.5rem;
            }
            ion-icon {
                font-size: 1.2rem;
            }
        }
    }
}
:host .hint-button {
    margin: 0.5rem 0.5%;
    width: 9%;
    min-height: auto;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --background: var(--ion-color-medium);
    &.selected {
        --color: var(--ion-color-dark);
        --background: var(--ion-color-light);
    }
    &.button-disabled {
        --background: var(--ion-color-medium);
        --color: var(--ion-color-semi-dark);
        opacity: 0.25;
    }
}