<ion-toolbar mode="ios">
    <ion-buttons slot="start">
        <ion-button fill="outline" shape="round" [class.activated]="autoAdvance"
            (click)="toggleAutoAdvance()">
            AUTO
        </ion-button>
        <ion-button [disabled]="!autoAdvance"
            (click)="previousHintPos()">
            <ion-icon [name]="retreatIcon[hintPos.side]"/>
            RETREAT
        </ion-button>
        <ion-button [disabled]="!autoAdvance"
            (click)="nextHintPos()">
            ADVANCE
            <ion-icon [name]="advanceIcon[hintPos.side]"/>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button fill="solid" (click)="dismiss()">
            <ion-icon slot="icon-only" name="close"/>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
@for (enabled of enabledButtons; track $index; let index = $index) {
    <ion-button class="hint-button" shape="round"
        [class.selected]="index === selectedHint"
        [disabled]="!enabled"
        (click)="selectHint(index)">
        {{ index }}
    </ion-button>
}
